img {
  float: right;
  width: 71px;
  height: 71px;
}

.navbar {
  width: 33%;
  min-width: 320px;
  height: 100vh;
  background-color: steelblue;
  padding: 15px;
  color: white;
  display: inline-block;
}

.navbar .header {
  margin-bottom: 50px;
}

.navbar .header .title {
  font-size: 36px;
  display: inline-block;
  font-weight: bold;
}

.navbar .header .tagline {
  font-style: italic;
}

.navbar .list-title {
  font-size: 22px;
  display: inline-block;
  font-weight: bold;
}

.chat-room-list {
  margin-top: 15px;
 }

.chat-room-item {
  margin-top: 5px;
  margin-bottom: 5px;
 }

.chat-room-window {
   background-color: lightgray;
   height: 100vh;
   width: 67%;
   display: inline-block;
   float: right;
 }

.chat-room-button {
  display: inline-block;
  float: right;
}
