.header {
  text-align: center;
  margin-bottom: 50px;
}

.title {
  font-weight: bold;
}

.tagline {
  font-style: italic;
}

.sidebar {
  background-color: #1AD6FD;
  height: 500px;
  border-radius: 10px;
  margin-right: 25px;
}

.sidebar .title {
  text-align: left;
  margin: 10px;
  padding-top: 10px;
  font-size: 22px;
  display: inline-block;
}

.chat-room-list {
  clear: both;
  text-align: center;
  padding-top: 15px;
 }

.chat-room-item {
  background-color: white;
  padding: 7px;
  margin: 5px;
  border-radius: 10px;
  position: relative;
 }

 .chat-room-window {
   background-color: #1AD6FD;
   height: 500px;
   border-radius: 10px;
 }

.chat-room-button {
  display: inline-block;
}
