<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
  <section class="navbar">
    <div class="header">
      <div class="title">chatterbox</div>
      <img src="/assets/images/bloc-logo-square.png" alt="bloc logo">
      <div class="tagline">for those who just like to chat.</div>
    </div>

    <div class="list-title">chat rooms</div>

    <div class="chat-room-button">
      <button class="btn btn-warning" ng-click="home.open()">+ new room</button>
    </div>

    <div class="chat-room-list">
      <div class="chat-room-item" ng-repeat="room in home.getRooms" ng-click="home.setActiveRoom(room)">{{ room.$value }}</div>
    </div>
  </section>
</div>

<div class="col-sm-8">
  <section class="chat-window">
    <div ng-show="activeRoom">
      <div class="chat-window-title">{{ activeRoom }}</div>
      <div class="chat-window-body">{{ activeMessages }}</div>
    </div>
  </section>
  
</div>
</div>
</div>
